
body{
  font-family: 'AminoAlt-Regular2', sans-serif !important;
  font-weight: light;
  font-style:normal;
  color: #222;
  line-height: 170%;
}
a:hover{color:#acbb16;}
h2,h3{
  font-family: 'Amino-AltBold', sans-serif !important;
}
.herowhite{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #fff !important;
  z-index: 999;
}
.heroboss .title{
  font-size: 3.6em;
  color: #fff;
  text-shadow: 0 0 3px #222;
  font-family: 'Amino-AltBold', sans-serif !important;
}
.heroboss .subtitle{
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 3px #222;
}
.heroboss{padding-left:50px;}
.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../img/bg.jpg') center center no-repeat;
  background-size: cover;
}
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #ACBB16, #293737);
  opacity: .7;
}
.section2{
padding: 50px 0px 50px 0px;
background-color: #fafafa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23acbb16' fill-opacity='0.06' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
.sectionvid{
padding: 30px 20px 80px 20px;
}
.section2 h2{
  font-weight: 700;
  font-size: 2em;
  color: #444;
  margin-bottom: 10px;
}
.farmercard{
  color: #444;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
overflow: hidden;

}
.farmercard:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.farmercard img{
width: 100%;
height: auto;
display: block;
max-width: 100%;
overflow: hidden;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
filter: grayscale(60%);


}
.farmercard:hover img{
  bottom: -36px;
  opacity: 1;
  filter: grayscale(0%);
}
.imgfarm img{
  filter: grayscale(0%);
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
  
}
.imgfarm img:hover{
  filter: grayscale(90%);
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.storyline{
  padding:0px 20px;
}
.textfarm{
  padding: 15px 0px;
  display: block;

}
li a{color: #fff;
}
a:hover{
  color:#acbb16 !important;
}
.textfarm2{
  padding: 0px 30px;
  display: block;

}
.textcentered{
  text-align: center;
  padding:20px;
}
.farmercard .textfarm h2{
  font-weight: 700;
  font-size: 2em;
  margin: 10px 0px;
}
.rndbtn{
  color: #222;
  border-color: #222;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-radius: 100px;
  padding: 10px 20px;
  margin-top: 20px !important;
  display: inline-block;
  text-decoration-line: none;
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
  
}
.rndbtn2{
  padding: 15px 30px;
  border-radius: 100px;
  color: #222;
  background-color: #fff;
  border-color: #fff;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  margin-top: 20px !important;
  display: inline-block;
  text-decoration-line: none;
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.rndbtn3{
color: #fff;
border-color: #293737;
border-width: 1px;
border-style: solid;
background-color: #293737;
border-radius: 100px;
padding: 10px 20px;
margin-top: 20px !important;
display: inline-block;
text-decoration-line: none;
-webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);

}
.rndbtn3:hover{
color: #293737 !important;
background-color: #ACBB16;
border-color: #acbb16;
padding:10px 30px;
}
.rndbtn2:hover{
  color: #fff !important;
  background-color: #acbb16;
  border-color: #acbb16;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.rndbtn:hover{
  color: #fff !important;
  background-color: #acbb16;
  border-color: #acbb16;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
transition:         all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.sectfooter{
  padding:50px 0px;
}
.inthree{
  padding:30px;
}
.farmcard{
  padding:30px;
}
.texthalf{
  font-size: 1.8em;
  line-height: 200%;
  padding:80px 40px;
  
}
footer{
  background-color: #2e3d3d;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23fafafa' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #fff;
  font-size: 0.8em;
}
.footerside{
  padding:30px;
  
}
.lastpart{
padding: 0px 20px;
}
.blushhalf{
  padding:30px;
}
.texthalf .title{
  margin-bottom: 0px !important;
}
.footerpart{
  padding:100px 20px;
  background: url('../img/bg.png') center center no-repeat;
  background-size: cover;
  background-color: #fafafa;
  
}

.titlex{
margin-bottom: 10px !important;
}
.liltext{
margin-bottom: 10px;
font-size: .9em;
color:#ACBB16;
}
.smlinks{
  padding: 40px 20px;
  background-color:#efefef;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
display: inline-block
}

.resp-sharing-button__link {
text-decoration: none;
color: #fff;
margin: 0.5em
}

.resp-sharing-button {
border-radius: 5px;
transition: 25ms ease-out;
padding: 0.5em 0.75em;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
width: 1em;
height: 1em;
margin-right: 0.4em;
vertical-align: top
}

.resp-sharing-button--small svg {
margin: 0;
vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
stroke: #fff;
fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
fill: #fff;
stroke: none
}

.resp-sharing-button--twitter {
background-color: #55acee
}

.resp-sharing-button--twitter:hover {
background-color: #2795e9
}


.resp-sharing-button--facebook {
background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
background-color: #2d4373
}

.resp-sharing-button--linkedin {
background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
background-color: #046293
}

.resp-sharing-button--email {
background-color: #777
}

.resp-sharing-button--email:hover {
background-color: #5e5e5e
}


.resp-sharing-button--whatsapp {
background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
background-color: #1da851
}


.resp-sharing-button--facebook {
background-color: #3b5998;
border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
background-color: #2d4373;
border-color: #2d4373;
}

.resp-sharing-button--twitter {
background-color: #55acee;
border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
background-color: #2795e9;
border-color: #2795e9;
}

.resp-sharing-button--email {
background-color: #777777;
border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
background-color: #5e5e5e;
border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
background-color: #0077b5;
border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
background-color: #046293;
border-color: #046293;
}

.resp-sharing-button--whatsapp {
background-color: #25D366;
border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
background-color: #1DA851;
border-color: #1DA851;
}

.resp-sharing-button--telegram {
background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
background-color: #4B97D1;}

.footerdlbtn{
  text-align: right;
  
  height:auto;
}

.footerdlbtnx{
width:180px; height:auto;
}
.navbtn{height:150px; width: auto; vertical-align:bottom;}
.featimg{
  width: 400px;
  height: auto;
}
.footerdltxt{
text-align: center;
}
.footerdltxt p{
  font-size: 1.2em;
  color: #fff;
  /* background-color: rgba(24, 23, 23, .5);
  padding: 5px 10px; */
  border-radius: 5px;
  margin-top: 10px;

  
}

.footerdltxt h2{
  font-size: 2em;
  line-height: 120%;
  color: #fff;

}

.socials li{display:inline-block;vertical-align:middle;margin:0 5px}.socials .fa{opacity:.5;transition:.3s}.tab,.update img{transition:opacity .3s}.socials a:hover{color:#97c848}.socials a:hover .fa{color:#97c848;opacity:1}
.lovefarmers{
text-align:right;
}

@media only screen and (max-width: 768px) {
.lovefarmers,.footerdlbtn{
    text-align: left;
    
    height:auto;
}
.footerpart{
  padding:30px;
}
.textfarm2, .imgfarm{
  padding: 20px 0px;

}
.heroboss .title{
  font-size: 2.6em;
}
.heroboss .subtitle{
  font-size: 1.4em;

}
}